<p>members-print works!</p>

    <accordion [isAnimated]="true">
        <accordion-group heading="Static Header">
            <div class="row">
            <div *ngFor="let member of members" class="col-2">
                <app-member-card [member]="member"></app-member-card>
            </div>
        </div>
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
        <accordion-group heading="Another group">
          <p>Some content</p>
        </accordion-group>
