<!-- HEADER -->
<header id="main-header" class="py-2 mt-3  bg-info text-white">
    <div class="container">
    <div class="row">
        <div class="col">
        <h1>
            <i class="fas fa-cog"></i> Admin Panel</h1>
        </div>
    </div>
    </div>
</header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="#" class="btn btn-primary btn-block">
            <i class="fas fa-arrow-left"></i> Back
          </a>
        </div>
      </div>
    </div>
  </section>

<div class="tab-panel">
    <tabset class="member-tabset">
        <tab heading="User Management" *appHasRole='["Admin"]' >
            <div class="container">
                <app-user-management></app-user-management>
            </div>
        </tab>
        <tab heading="Photo Management" *appHasRole='["Admin","Moderator"]' >
            <div class="container">
                <add-photo-management></add-photo-management>
            </div>
        </tab>
    </tabset>
</div>
