<div class="text-center mt-3">
    <h2>Your Invoices - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadExpenses()" autocomplete="off">
        <div class="form-group">
            <label>Date From: </label>
            <input type="date" class="form-control ml-1" style="width: 210px;" name="fromDate" 
                [(ngModel)]="fuelExpenseParams.fromDate">
        </div>

        <div class="form-group px-2">
            <label>Date to: </label>
            <input type="date" class="form-control ml-1" style="width: 210px;" name="toDate" 
                [(ngModel)]="fuelExpenseParams.toDate" >
        </div>

        <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>
        
        

    </form>

<div class="row">
    <div *ngFor="let fuelExpense of fuelExpenses">
        <app-fuel-card [fuelExpense]="fuelExpense"></app-fuel-card>
    </div>
</div>



<div class="d-flex justify-content-center mt-3" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
</pagination>
</div>