<div class="text-center mt-3">
    <h2>Your Invoices - {{pagination?.totalItems}} found</h2>
</div>


<div class="row">
    <div *ngFor="let fuelExpense of fuelExpenses" class="col-2">
       {{fuelExpense.invoiceAmount}}
        <!-- <app-fuel-card [fuelExpense]="fuelExpense"></app-fuel-card> -->
    </div>
</div> 

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
</pagination>
</div>