<div class="container mt-5">
    <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <div *ngIf="!registerMode" style='text-align: center;'>
            <h1 class="display-3">Zeeportal</h1>
            <p class="lead">Keep Exploring</p>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
                <button class="btn btn-info btn-lg">Learn more</button>
            </div>
        </div>
    
        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="(accountService.currentUser$ | async)">
        <!-- HEADER -->
        <header id="main-header" class="py-2  bg-warning text-white">
            <div class="container">
            <div class="row">
                <div class="col">
                <h1>
                    <i class="fas fa-cog"></i> Dashboard</h1>
                </div>
            </div>
            </div>
        </header>
        <section id="maincards">
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="card bg-dark text-center">
                        <div class="card-body">
                          <h3 class="card-title text-light"><i class="fas fa-industry fa-lg"></i> Staff On Site</h3> 
                          <hr>
                          <p class="card-text text-light">Application For Staff on Site and Reporting</p>
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item bg-dark">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        CLick Here To Find More
                                    </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a routerLink='/membersonsite' routerLinkActive='active' class="btn btn-success btn-block py-3">
                                                        <h3><i class="fas fa-user-check fa-lg"></i> </h3>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="/" class="btn btn-success btn-block py-3">
                                                        <h3><i class="fas fa-chart-pie fa-lg"></i></h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card bg-light text-center">
                        <div class="card-body">
                          <h3 class="card-title text-dark"><i class="fas fa-bell fa-lg"></i> Notifications</h3> 
                          <hr>
                          <p class="card-text text-dark">Application For Staff on Site and Reporting</p>
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item bg-light">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                                        CLick Here To Find More
                                    </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/" class="btn btn-success btn-block py-3">
                                                        <h3><i class="fas fa-industry fa-lg"></i> </h3>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="/" class="btn btn-success btn-block py-3">
                                                        <h3><i class="fas fa-chart-pie fa-lg"></i></h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card bg-dark text-center" >
                        <div class="card-body">
                          <h3 class="card-title text-light"><i class="fas fa-gas-pump fa-lg"></i> Fuel Expenses</h3> 
                          <hr>
                          <p class="card-text text-light">Application For Fuel Expenses And Expenses Overview</p>
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item bg-dark">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                                        CLick Here To Find More
                                    </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a routerLink='/fuelexpenses/add' class="btn btn-success btn-block py-3">
                                                       <h3> <i class="fas fa-plus fa-lg"></i> </h3>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a routerLink='/fuelexpense' class="btn btn-success btn-block py-3">
                                                       <h3> <i class="fas fa-chart-pie fa-lg"></i> </h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <div *appHasRole='["Admin","Moderator"]' class="row">
                                                <div class="col mt-2">
                                                    <a routerLink='fuelexpense/admin' class="btn btn-info btn-block py-2">
                                                        <h3> <i class="fas fa-user-lock fa-lg"></i> </h3>
                                                     </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                      </div>
                </div>
            </div>
            <div  class="row">
                <div *appHasRole='["Admin","Moderator"]' class="col-md-4 mt-3 mb-5">
                    <div class="card bg-light text-center">
                        <div class="card-body">
                          <h3 class="card-title text-dark"><i class="fas fa-user-shield fa-lg"></i> Administration</h3> 
                          <hr>
                          <p class="card-text text-dark">Settings And Administration</p>
                          <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item bg-light ">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                                        CLick Here To Find More
                                    </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a routerLink='/admin'routerLinkActive='active' class="btn btn-success btn-block py-3">
                                                        <h3><i class="fas fa-cogs fa-lg"></i> </h3>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="/" class="btn btn-success btn-block py-3">
                                                       <h3><i class="fas fa-chart-pie fa-lg"></i></h3>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                      </div>
                </div>
            </div>
        </section>

    </ng-container>
</div>