<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>ZeePortal</a>

        <ul class="navbar-nav mr-auto">
            <!-- We use ng-container. This will hide the urls from inspect if user is not logged in. 
            We put ngif. if  accountservice.currentuser is null then hide all links of list
            We prefer to put conditional html in ng-containers because 
            they dont generate html code if not used and dont destroy arrange of page -->
            <ng-container *ngIf="accountService.currentUser$  | async">
                <li class="nav-item">
                    <!-- in app-routing .module.ts we declared in which path each component listens -->
                    <!-- Here we say with routerlink to go this path. Routerlinkactive sets are our choice highlighted -->
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Messages' routerLinkActive='active'>Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Test' routerLinkActive='active'>Test</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink='/Errors' routerLinkActive='active'>Errors</a>
            </li>
        </ul>
        <!-- We can convert an observable to an object () as oject. Then we can use the property inside our html. In order to show property name 
        we use {{}} and | titlecase will make first letter capital -->
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || '/assets/user.png' }}" alt="{{user.knownAs}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='member/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
            autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>

</nav>